<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>A CNG Pumps</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdLogin</display-name>
    <servlet-name>AdLogin</servlet-name>
    <servlet-class>CNGPumps.AdLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdLogin</servlet-name>
    <url-pattern>/AdLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PumpsLogin</display-name>
    <servlet-name>PumpsLogin</servlet-name>
    <servlet-class>CNGPumps.PumpsLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PumpsLogin</servlet-name>
    <url-pattern>/PumpsLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PumpsRegis</display-name>
    <servlet-name>PumpsRegis</servlet-name>
    <servlet-class>CNGPumps.PumpsRegis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PumpsRegis</servlet-name>
    <url-pattern>/PumpsRegis</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>CNGPumps.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userRegis</display-name>
    <servlet-name>userRegis</servlet-name>
    <servlet-class>CNGPumps.userRegis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userRegis</servlet-name>
    <url-pattern>/userRegis</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Booking</display-name>
    <servlet-name>Booking</servlet-name>
    <servlet-class>CNGPumps.Booking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Booking</servlet-name>
    <url-pattern>/Booking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckCNG</display-name>
    <servlet-name>CheckCNG</servlet-name>
    <servlet-class>CNGPumps.CheckCNG</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckCNG</servlet-name>
    <url-pattern>/CheckCNG</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCNG</display-name>
    <servlet-name>AddCNG</servlet-name>
    <servlet-class>CNGPumps.AddCNG</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCNG</servlet-name>
    <url-pattern>/AddCNG</url-pattern>
  </servlet-mapping>
</web-app>